table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 45%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}
tr:nth-child(odd) {
    background-color: #00ffd9;
}